{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block header %}
    <h1 class="mx-auto">Home</h1>
{% endblock %}
{% block content %}
    <form hx-post="{{ url_for('.submit_form') }}" hx-target="next output">
        <input type="text"
               class="input"
               name="content"
               placeholder="Change the output to something" />
        <button class="btn btn-primary">Click meeee</button>
    </form>
    <output id="output">I need to eventually put a home page here</output>
{% endblock %}
