{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block header %}
    <h1 class="mx-auto">Home</h1>
{% endblock %}
{% block content %}
    <form hx-post="{{ url_for('upload.upload_dataset_file') }}"
          hx-target="next output"
          hx-encoding="multipart/form-data"
          method="post">
        <div class="input-group">
            <label class="input-group-text" for="datasetFileUpload">Upload dataset file</label>
            <input type="file" class="form-control" id="datasetFileUpload" />
        </div>
    </form>
{% endblock %}
