{% extends "base.html" %}
{% block title %}CAMPD Explorer{% endblock %}
{% block header %}
    <h1 class="mx-auto">Explore and search EPA CAMPD data</h1>
{% endblock %}
{% block content %}
    {# Search stuff #}
    <form hx-post="{{ url_for('index.submit_form') }}" hx-target="next output">
        <fieldset class="fieldset w-48">
            <legend class="fieldset-legend">State/Territory</legend>
            <select class="select" id="state-select">
                <option disabled selected>Choose a State/Territory</option>
                {% for code in state_codes %}
                    <option value="{{ code.stateCode }}">{{ code.stateName }}</option>
                {% endfor %}
            </select>
            <span class="label" for="state-select">Optional</span>
        </fieldset>
    </form>
    <output id="output">-</output>
    {# Table #}
{% endblock %}
