{% extends "base.html" %}
{% block title %}CAMPD Explorer{% endblock %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/choices.js@11.2.4/public/assets/scripts/choices.min.js"
            integrity="sha256-y2gFrdpOrzJR/lrb3l8vYsgOocKbeZmxWFRqd9HhkdY="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/choices.js@11.2.4/public/assets/styles/choices.min.css"
          integrity="sha256-pTYPT12p21vMW/XFNnPkuRYiqtvjrFcnpgX/mmsU2gs="
          crossorigin="anonymous" />
    <link href="https://cdn.datatables.net/v/bs5/dt-3.0.4/b-4.0.3/cc-2.0.2/fh-5.0.0/r-4.0.3/sc-3.0.0/sl-4.0.1/datatables.min.css"
          rel="stylesheet"
          integrity="sha384-5hW8FGjjjijsQwVv+5nO4uXnaWdwjbNPE326ifeBWvFxlFeZFc08fyj6rT6SQkjf"
          crossorigin="anonymous" />
    <script src="https://cdn.datatables.net/v/bs5/dt-3.0.4/b-4.0.3/cc-2.0.2/fh-5.0.0/r-4.0.3/sc-3.0.0/sl-4.0.1/datatables.min.js"
            integrity="sha384-PybSzwIlnpgXDa4PnrHHzXHkojyTybdzRrG2er5tmas+IV9S2+b95r5dlslDtx3C"
            crossorigin="anonymous"></script>
{% endblock %}
{% block header %}
    <h1 class="col-8">Explore and search EPA CAMPD data</h1>
{% endblock %}
{% block content %}
    <form hx-post="{{ url_for('index.submit_form') }}"
          hx-target="#output"
          class="row g-3">
        <div class=" col-md-3">
            <label class="form-label" for="years-input">Year(s)</label>
            <input type="text"
                   id="years-input"
                   class="form-control"
                   name="years"
                   required
                   placeholder="Ex 2015, 2019-2022"
                   hx-post="{{ url_for('.submit_years') }}"
                   hx-trigger="input delay:500ms, keyup[key=='Enter']"
                   hx-swap="innerMorph"
                   hx-target="#facility-select" />
        </div>
        <div class=" col-md-3">
            <label class="form-label" for="state-select">State/Territory</label>
            <select class="select" id="state-select">
                <option disabled selected>Choose a State/Territory</option>
                {% for code in state_codes %}
                    <option value="{{ code.code }}">{{ code.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-md-3">
            <label class="form-label" for="fuel-select">Fuel Type</label>
            <select class="select" id="fuel-select">
                <option disabled selected>Choose a Fuel Type</option>
                {% for fuel in fuel_type_codes %}
                    <option value="{{ fuel.fuelTypeCode }}">{{ fuel.fuelTypeDescription }}</option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-md-3">
            <label class="form-label">Facility</label>
            <select class="select" placeholder="Facility" id="facility-select">
                <option value="">Please Input Years First</option>
            </select>
        </div>
    </form>
    <hr />
    <div class="container-lg">
        <button type="button"
                class="btn btn-primary"
                hx-get="{{ url_for('.sample_data') }}"
                hx-target="#output">Press me for sample data</button>
        <div id="output"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script defer>
        document.addEventListener('DOMContentLoaded', function() {
            for (i of ["state-select", "fuel-select", "facility-select"]) {
                const element = document.querySelector(`#${i}`)
                const choices = new Choices(element, {
                    addItems: false,
                    shouldSort: false,
                })
                htmx.on('htmx:after:swap', function(evt) {
                    if (evt.target === element) {
                        choices.refresh()
                    }
                })
            }
        });
    </script>
{% endblock %}
